* {
  margin: 0;
  padding: 0;
}
body {
  background: #d9d9d9;
}
.list-style-none {
  list-style-type: none;
  padding: 0;
}
.list-style-none li {
  font-weight: 600;
  font-size: 18px;
  margin: 0.5rem auto;
  cursor: pointer;
}
.back-top-holder {
  cursor: pointer;
  bottom: 8%;
  right: 0;
  transform: rotate(270deg);
}
.back-top-text {
  font-weight: 600;
}